@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,900;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* Empiezo editando el body y el main de la página */
body{
    background-color: #cfd6f1;
}
main{
    background-color: white;
    margin: 100px 400px;
    border-radius: 10px;
    padding: 70px 50px;
}

/* Edito el primer div, aplico fuentes, tamaños, lo centro */

.uno h1{
    text-align: center;
    font-family: "Archivo", sans-serif;
    font-size: 50px;
}

.uno h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding-top: 25px;
}

.uno p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #7e8385;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 40px;
    margin-right: 8px;

}
.dos{
    padding: 50px 0 ;
    border-top: solid #7e838590 1px;
}

.email{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
}
input[type=email]{
    font-size: 15px;
    padding: 12px 140px;
    margin-top: 10px;
    margin-right: 13px;
    margin-bottom: 15px;
    border: 1px solid #7e838590;
    border-radius: 6px;
}
.password{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
}
input[type=password]{
    font-size: 15px;
    padding: 12px 140px;
    margin-top: 10px;
    margin-right: 13px;
    margin-bottom: 15px;
    border: 1px solid #7e838590;
    border-radius: 6px;
}
button{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color:#377bf4 ;
    color: #fefeff;
    padding: 13px 205px;
    border-radius: 3px;
    border: none;
    margin-top: 9px;
    cursor: pointer;
}
button:hover{
    background-color:#377cf4dd;
}


.dos p{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color:#4c4f51;
    margin-top: 28px;
}

a:link{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
}
a:visited{
    color: #ff00e1a1;
}
